<div class="container">
  <h1>Detay kısmı:</h1>

  <h4>Öğrencimizin ismi {{ourStudent.studentName}}</h4>
  <h4>Öğrencimizin soyismi {{ourStudent.studentLastname}}</h4>
  <h4>Öğrencimizin numarası {{ourStudent.studentNumber}}</h4>
  <h4>Öğrencimizin cinsiyeti {{ourStudent.studentManOWoman}}</h4>

  <h4>Öğrencimizin 1. Türkçe Notu {{ourStudent.turkishFirstNote}}</h4>
  <h4>Öğrencimizin 2. Türkçe Notu {{ourStudent.turkishSecondNote}}</h4>
  <h4>Öğrencimizin 3. Türkçe Notu {{ourStudent.turkishThirdNote}}</h4>
  <h4>Öğrencimizin 4. Türkçe Notu {{(ourStudent.turkishFirstNote + ourStudent.turkishSecondNote + ourStudent.turkishThirdNote)/3}}</h4>

  <h4>Öğrencimizin 1. Matematik Notu {{ourStudent.mathFirstNote}}</h4>
  <h4>Öğrencimizin 2. Matematik Notu {{ourStudent.mathSecondNote}}</h4>
  <h4>Öğrencimizin 3. Matematik Notu {{ourStudent.mathThirdNote}}</h4>
  <h4>Öğrencimizin 4. Matematik Notu {{(ourStudent.mathFirstNote + ourStudent.mathSecondNote + ourStudent.mathThirdNote)/3}}</h4>

  <h4>Öğrencimizin 1. Fen Notu {{ourStudent.scienceFirstNote}}</h4>
  <h4>Öğrencimizin 2. Fen Notu {{ourStudent.scienceSecondNote}}</h4>
  <h4>Öğrencimizin 3. Fen Notu {{ourStudent.scienceThirdNote}}</h4>
  <h4>Öğrencimizin 4. Fen Notu {{(ourStudent.scienceFirstNote + ourStudent.scienceSecondNote + ourStudent.scienceThirdNote)/3}}</h4>

  <h4>Öğrencimizin 1. Sosyal Notu {{ourStudent.liberalArtsFirstNote}}</h4>
  <h4>Öğrencimizin 2. Sosyal Notu {{ourStudent.liberalArtsSecondNote}}</h4>
  <h4>Öğrencimizin 3. Sosyal Notu {{ourStudent.liberalArtsThirdNote}}</h4>
  <h4>Öğrencimizin 4. Sosyal Notu {{(ourStudent.liberalArtsFirstNote + ourStudent.liberalArtsSecondNote + ourStudent.liberalArtsThirdNote)/3}}</h4>

</div>
